<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT Manager Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Sans -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://codepen.io/CodeBoomer/pen/PzgWYp.css'>
    <link rel="stylesheet" href="../css/landing.css">

</head>
<body data-spy="scroll" data-target="#scroll-spy">
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-home" href="#home" role="button">
                <svg class="lnr lnr-home">
                    <use xlink:href="#lnr-home"></use>
                </svg>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scroll-spy"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="material-icons">&#xE5D2;</i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="scroll-spy">
            <ul class="nav navbar-nav ">
                <li><a href="#about">About Us</a></li>
                <li><a href="#projects">Our Projects</a></li>
                <li><a href="#features">Our differentiators</a></li>
                <li><a href="#howto">How to</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mouse"></div>
                <h1>IT Manager Projects</h1>
                <h4>by Loki</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <p>Company which provide creating IT Project for different areas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="tutorials-link" role="button" data-toggle="modal" data-target="#submitModal">Submit
                    Request</a>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    About Us
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <p>Our company has the expertise, culture and resources to help service providers transform their
                    business
                    to thrive in a digital economy. Our innovative solutions, cutting-edge technology and value-driven
                    services can help service providers to execute on their digital transformation goals with target
                    business
                    outcomes ensuring growth and profitability.</p>

                <p>
                    <highlight>IT Manager Projects</highlight>
                    We can help you reimagine your business through a digital lens. Our software engineering heritage
                    combined with our strategic business and innovation consulting, design thinking, and
                    physical-digital
                    capabilities provide real business value to our customers through human-centric innovation.
                </p>

                <p>We help businesses unveil and satisfy demand for digital transformation by providing engineering and
                    consulting services that foster competitiveness and innovation.</p>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    Our Projects
                </div>
            </div>
        </div>
        <div class="row">
            Some projects from backend
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="tutorials-link" role="button" data-toggle="modal" data-target="#submitModal">Submit
                    Request</a>
                <!--                <h4>Check out my YouTube tutorials</h4>-->
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    Our differentiators
                </div>
            </div>
        </div>

        <div class="row">
            <div class="feature-container col-xs-12">
                <div class="row">
                    <div class="feature col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-magic-wand">
                            <use xlink:href="#lnr-magic-wand"></use>
                        </svg>
                        <h4>Scale</h4>
                        <p>We have a multi-thousand pool of experts with various technological and domain backgrounds
                            and qualification levels, which also includes resources available on demand, who provide
                            full-cycle implementation services, taking up projects at any stage.</p>
                    </div>

                    <div class="feature col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-thumbs-up">
                            <use xlink:href="#lnr-thumbs-up"></use>
                        </svg>
                        <h4>Expertise</h4>
                        <p>For 20+ years on the market, IT Manager Projects has completed 1,530+ projects, gaining
                            comprehensive
                            technical and industry-specific knowledge, as well as enrolled in partnership programs with
                            such industry leaders as Microsoft, Amazon, Salesforce, Atlassian, and others.</p>
                    </div>

                    <div class="feature col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-license">
                            <use xlink:href="#lnr-license"></use>
                        </svg>
                        <h4>Transparency</h4>
                        <p>We ensure collaboration transparency through our certified project managers assigned to every
                            project, regular reporting, demos, and the client’s access to the test stand and project
                            tracking tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="banner row">
            <div class="banner-child bc-left col-sm-6">
                <div class="section-sub-header">
                    Animated Scroll
                </div>
                <div class="animated-scroll">
                    <div class="scroll-header">
                        <div class="scroll-nav sn-1"></div>
                        <div class="scroll-nav sn-2"></div>
                        <div class="scroll-nav sn-3"></div>
                        <svg class="cursor" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24" id="Layer_1"
                             version="1.0" viewBox="0 0 24 24" xml:space="preserve"><path d="M7,2l12,11.2l-5.8,0.5l3.3,7.3l-2.2,1l-3.2-7.4L7,18.5V2"/></svg>
                    </div>
                    <div class="scroll-body">
                        <div class="scroll-child sc-1"></div>
                        <div class="scroll-child sc-2"></div>
                        <div class="scroll-child sc-3"></div>
                        <div class="scroll-child sc-back-to-top"></div>
                    </div>
                </div>
            </div>
            <div class="banner-child bc-right col-sm-6">
                <div class="section-sub-header">
                    Focus Events | UX
                </div>

                <div class="focus-events">
                    <div class="scroll-header">
                        <div class="scroll-nav sn-1"></div>
                        <div class="scroll-nav sn-2"></div>
                        <svg class="cursor" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24" id="Layer_1"
                             version="1.0" viewBox="0 0 24 24" xml:space="preserve"><path d="M7,2l12,11.2l-5.8,0.5l3.3,7.3l-2.2,1l-3.2-7.4L7,18.5V2"/></svg>
                    </div><!-- /.scroll-header -->

                    <div class="scroll-body">
                        <div class="scroll-child sc-1">
                            <div class="header"></div>
                            <div class="sub-header"></div>
                            <div class="body"></div>
                            <div class="body"></div>
                            <div class="body"></div>
                        </div>
                        <div class="scroll-child sc-2">
                            <div class="header"></div>
                            <div class="sub-header"></div>
                            <div class="body"></div>
                            <div class="body"></div>
                            <div class="body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="howto">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    How To
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="section-sub-header">
                    Submit Request
                </div>
            </div>
        </div>

        <div class="row">
            TODO FORM
        </div>
    </div>
</section>
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
     aria-hidden="true">
    <div class="modal_popup">
        <div class="form">
            <form>
                <label for="name" required="required">Full Name</label>
                <input id="name" type="text"/>
                <label for="email" required="required">Email Address</label>
                <input id="email" type="email"/>
                <label for="pass">Password</label>
                <input id="pass" type="password" required="required"/>
                <div class="col-xs-12">
                    <button class="tutorials-link" type="button">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="invite">
            <h2 class="white-center-text">Register now for our award-winning service and get a 14 day free trial.</h2>
            <button class="close" title="close" data-dismiss="modal"></button>
        </div>
    </div>
</div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>
                    This is a footer
                </h4>
            </div>
        </div>
    </div>
</footer>
<a href="#home" role="button" class="scrollTop">
    <svg class="lnr lnr-chevron-up">
        <use xlink:href="#lnr-chevron-up"></use>
    </svg>
</a>
</body>
<!-- partial -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="../js/landing.js"></script>
</html>
