<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT Manager Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Sans -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://codepen.io/CodeBoomer/pen/PzgWYp.css'>
    <link rel="stylesheet" href="../css/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap'>

</head>
<body data-spy="scroll" data-target="#scroll-spy">
<svg display="none">
    <symbol id="success" viewBox="0 0 32 32">
        <circle r="15" cx="16" cy="16" fill="none" stroke="hsl(93,90%,40%)" stroke-width="2"/>
        <polyline points="9,18 13,22 23,12" fill="none" stroke="hsl(93,90%,40%)" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
    </symbol>
</svg>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-home" href="#home" role="button">
                <svg class="lnr lnr-home">
                    <use xlink:href="#lnr-home"></use>
                </svg>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scroll-spy"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="material-icons">&#xE5D2;</i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="scroll-spy">
            <ul class="nav navbar-nav ">
                <li><a href="#about">About Us</a></li>
                <li><a href="#projects">Our Projects</a></li>
                <li><a href="#features">Our differentiators</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mouse"></div>
                <h1>IT Manager Projects</h1>
                <h4>by Loki</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <p>Company which provide creating IT Project for different areas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="tutorials-link" role="button" data-toggle="modal" data-target="#submitModal">Submit
                    Request</a>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    About Us
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <p>Our company has the expertise, culture and resources to help service providers transform their
                    business
                    to thrive in a digital economy. Our innovative solutions, cutting-edge technology and value-driven
                    services can help service providers to execute on their digital transformation goals with target
                    business
                    outcomes ensuring growth and profitability.</p>

                <p>
                    <highlight>IT Manager Projects</highlight>
                    We can help you reimagine your business through a digital lens. Our software engineering heritage
                    combined with our strategic business and innovation consulting, design thinking, and
                    physical-digital
                    capabilities provide real business value to our customers through human-centric innovation.
                </p>

                <p>We help businesses unveil and satisfy demand for digital transformation by providing engineering and
                    consulting services that foster competitiveness and innovation.</p>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    Our Projects
                </div>
            </div>
        </div>
        <div class="row carousel-item__container">
            <div class="carousel">
                <div class="carousel__nav">
               <span id="moveLeft" class="carousel__arrow">
                    <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                    </svg>
               </span>
                    <span id="moveRight" class="carousel__arrow">
                      <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                         <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                     </svg>
                </span>
                </div>
                <div class="carousel-item carousel-item--1">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h2 class="carousel-item__subtitle">The grand moment </h2>
                            <h1 class="carousel-item__title">Le tour</h1>
                            <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            <a href="#" class="carousel-item__btn">Explore the tour</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item--2">
                    <div class="carousel-item__image"></div>
                    <div class="carousel-item__info">
                        <div class="carousel-item__container">
                            <h2 class="carousel-item__subtitle">The big window </h2>
                            <h1 class="carousel-item__title">Minimal window</h1>
                            <p class="carousel-item__description">Clear Glass Window With Brown and White Wooden Frame
                                iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <a href="#" class="carousel-item__btn">Read the article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-header">
                    Our differentiators
                </div>
            </div>
        </div>

        <div class="row">
            <div class="feature-container col-xs-12">
                <div class="row">
                    <div class="feature col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-magic-wand">
                            <use xlink:href="#lnr-magic-wand"></use>
                        </svg>
                        <h4>Scale</h4>
                        <p>We have a multi-thousand pool of experts with various technological and domain backgrounds
                            and qualification levels, which also includes resources available on demand, who provide
                            full-cycle implementation services, taking up projects at any stage.</p>
                    </div>

                    <div class="feature col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-thumbs-up">
                            <use xlink:href="#lnr-thumbs-up"></use>
                        </svg>
                        <h4>Expertise</h4>
                        <p>For 20+ years on the market, IT Manager Projects has completed 1,530+ projects, gaining
                            comprehensive
                            technical and industry-specific knowledge, as well as enrolled in partnership programs with
                            such industry leaders as Microsoft, Amazon, Salesforce, Atlassian, and others.</p>
                    </div>

                    <div class="feature col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                        <svg class="lnr lnr-license">
                            <use xlink:href="#lnr-license"></use>
                        </svg>
                        <h4>Transparency</h4>
                        <p>We ensure collaboration transparency through our certified project managers assigned to every
                            project, regular reporting, demos, and the client’s access to the test stand and project
                            tracking tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
     aria-labelledby="submitModalLabel"
     aria-hidden="true">
    <div class="modal_popup" th:style="${isShowed} ? 'height:' + ${formCorrector} + 'px' : '' ">
        <div class="form">
            <form th:action="@{/create_request}" th:object="${orderForm}" method="post" enctype="multipart/form-data">
                <label for="first_name">First Name</label>
                <input th:class="${#fields.hasErrors('firstName')}?'is-invalid':''" th:field="*{firstName}"
                       id="first_name" type="text" required/>
                <h6 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                    class="invalid-feedback"></h6>
                <label for="last_name">Last Name</label>
                <input th:field="*{lastName}" id="last_name" type="text" required/>
                <h6 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                    class="invalid-feedback"></h6>
                <label for="phone" required="required">Phone</label>
                <input th:field="*{phone}" type="tel" id="phone" name="phone"
                       pattern="+{0-9}{12}"
                       required>
                <h6 th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                    class="invalid-feedback"></h6>
                <label for="email">Email Address</label>
                <input th:field="*{email}" id="email" type="email" required/>
                <h6 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                    class="invalid-feedback"></h6>
                <div class="custom-file">
                    <label class="custom-file-label" for="file">Select file:</label>
                    <input class="custom-file-input" th:field="*{document}" type="file" id="file" name="file"/>
                    <h6 th:if="${#fields.hasErrors('document')}" th:errors="*{document}"
                        class="invalid-feedback"></h6>
                </div>
                <div class="col-xs-12">
                    <button class="tutorials-link" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="invite">
            <h3 class="white-center-text">
                <highlight>IT Manager Projects</highlight>
                can help you reimagine your business through a digital
                lens. Our software engineering heritage combined with our strategic business and innovation consulting,
                design thinking, and physical-digital capabilities provide real business value to our customers through
                human-centric innovation.
            </h3>
            <button class="close" title="close" data-dismiss="modal"></button>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 item text">
                <h3>IT Manager Projects</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
                    elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                    class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
                    href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">IT Manager Projects © 2022</p>
    </div>
</footer>
</body>
<!-- partial -->
<script th:if="${isShowed}">
   window.onload = () => {$('#submitModal').modal('show');}
</script>
<script th:if="${isSuccess}">
    window.addEventListener("DOMContentLoaded",() => {
        const nc = new NotificationCenter();
    });
</script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../js/landing.js"></script>
</html>
